@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

html{
    position:relative;
    min-height: 100%;
}

main{margin-bottom: 270px;}

footer.footer{
    padding: 15px;
    position:absolute;
    bottom: 0%;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/FondHeroScene.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }
    *{
        // Positionner les éléments devant le ::before
        position: relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text-justify{
    text-align: justify;
}

.image-card{
    position: relative;
    &:hover{
        .titre-image,
        .action-image-buttons{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s ease;
    }

    .titre-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: all 0.3s ease;
    }
    .action-image-buttons{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.3s ease;
    }
}

.form-label{
    color: $primary;
}

.allreservations{
    a{
        display: block;
        color: black;
        padding:10px;
    }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
